/* GLOBAL RULES */

* {
  box-sizing: border-box;
}

html, body {
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

/* CLASS DEFINITIONS */

/* ID DEFINITIONS */

#main {
  align-items: center;
  border: 1px solid red;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

/* MEDIA QUERIES */